<!--TEMP ADD REVIEW PAGE-->
{% extends "bookworm/base.html" %}

{% block title_block %}
	Add Review
{% endblock %}

{% block body_block %}
<h1>Temp add review page.</h1>
<div class="container">
	<form role="form"  method="post">
		{% csrf_token %}
		<div class="form-group" >
			<label for="rate">Rating (1 - worst, 5 - best):</label>
			<select class="form-control" id="rate" name="rating">
				<option value="1">(1) Very Bad</option>
				<option value="2">(2) Poor</option>
				<option value="3">(3) Average</option>
				<option value="4">(4) Good</option>
				<option value="5">(5) Excellent</option>
			</select>
			<h3><label for="review">Review:</label></h3>
			<textarea class="form-control" rows="6" id="review" name="text" type="text"></textarea>
		</div>
		<button type="submit">Submit</button>
	</form>
</div>
{% endblock %}
