<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>{% block title %}Bookworm{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/base.css" %}" rel="stylesheet">
	<link href="{% static "css/bw.css" %}" rel="stylesheet">
  </head>

  <body>
    <div class="header">
		<a class="headerE" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
		<a class="headerE" href="/books">Books</a>
		<div class="headerE">
			<form class="searchBar" id="user_form" 
				method="post" action="{% url 'search' %}">
				{% csrf_token %}
				<div class="input-group">
					<input class="form-control" type="text"
						name="query" placeholder="Search..." value="" id="query" />
				</div>
			</form>
		</div>
			{% if user.is_authenticated %}
			<!-- Link to a user's profile -->
			<a class="headerE" href="/profile/{{ user.username }}" style="float: right">{{ user.username }}</a>
			{% else %}
			<div style="float: right">
			<a class="headerE"  href="{% url 'registration_register' %}" style="float: right">Register</a>
			<a class="headerE"  href="{% url 'auth_login' %}" style="float: right">Login</a>
			</div>
			{% endif %}
		
	</div>
	<div class="headerShadow">
	</div>
	
	
	
	<div class="header2">
		<img src="{% static "images/logo.png" %}" alt="Bookworm logo" class="headerE"> 
	
	</div>
	
	
	<div class="main">
         {% block body_block %}{% endblock %}
    </div>
	
	<div class="footer">
	<table class="footerTable">
		<tr>
			<th class = "fontFooterTitle">BookWorm</th>
			<th class = "fontFooterTitle">Terms of Service</th>
			<th class = "fontFooterTitle">About Us</th>
		</tr>
		<tr>
			<th ><a class="fontFooter" href="/">Home</a></th>
			<th class = "fontFooter">Terms of Use</th>
			<th class = "fontFooter">Contact us</th>
			
		</tr>
		<tr>
			<th class = "fontFooter">News</th>
			<th class = "fontFooter"></th>
			<th class = "fontFooter">GitHub</th>
			
		</tr>
		<tr>
			<th class = "fontFooter">FAQ</th>
			<th class = "fontFooter"></th>
			<th class = "fontFooter"></th>
			
		</tr>
	</table>
		
	<div class="footerFooter"></div>
	
	</div>

	
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
	</script>
	<script
	src="http://getbootstrap.com/dist/js/bootstrap.min.js">
	</script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script
	src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js">
	</script>
  </body>
</html>