{% extends "bookworm/base.html" %}

{% block title_block %}
	Search
{% endblock %}

{% block body_block %}
<div>
	<h1>Bookworm search</h1>
	<br/>
	<form class="form-inline" id="user_form" 
		method="post" action="{% url 'book_search' %}">
	{% csrf_token %}
	<div class="input-group">
		<input class="form-control" type="text" size="50" 
			name="query" placeholder="Enter a book's title" value="" id="query" />
	</div>
	<!-- No breaking space -->
	&nbsp;
	<button class="btn btn-primary" type="submit" name="submit"
		 value="Search">Search</button>
	</form>	
	<div>
	{% if result_list %}
	<h3>Results</h3>
	<!-- Display search results in an ordered list -->
		<div class="list-group">
		{% for result in result_list %}
			<div class="list-group-item">
			<h3 class="list-group-item-heading">
			<a href="/book/{{ result.bookid }}">{{ result.title }}</a>
			</h3> 
			<div class="row">
				<div class="col-2">
					<p style="margin-left:25px; padding-top:5px; class="list-group-item-text"><img style="float: left;" src="{{ result.smallThumbnail }}">
				</div>
				<div class="col-10">
					<p><b>Author(s)</b>: {{ result.authors }}</p>
					<p><b>Description</b>: {{ result.description }}</p>
					<p><b>Pages</b>: {{ result.pageCount }}</p>
					<p><b>Publisher:</b> {{ result.publisher }}</p>
					<p><b>Date Published</b>: {{ result.publishedDate }}</p>
				</div>
			</div>
			</div>
		{% endfor %}
		</div>
	{% endif %}
	</div>
</div>	
{% endblock %}
