<!--TEMP BOOK LIST PAGE-->

{% extends "bookworm/base.html" %}

{% block title_block %}
	Book List
{% endblock %}

{% block body_block %}
	<h1>Books</h1>
	{% if books %}
		<div class="row">
			{% for book in books %}
			<div class="col-md-4">
				<div class="card mb-4 box-shadow">
					<img class="card-img-top" src="{{ book.thumbnail }}" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">{{ book.title }}</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a href="/book/{{ book.bookid }}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	{% else %}
		No books have been added yet, please search for books to populate this list.
	{% endif %}
{% endblock %}
