{% extends "bookworm/base.html" %}

{% block title_block %}
	Book List
{% endblock %}

{% block body_block %}
	<h1>Books</h1>
	{% if books %}
		<div class="row">
			{% for book in books %}
			<div class="col-md-3">
				<div class="card mb-3 box-shadow">
					<img class="card-img-top" src="{{ book.thumbnail }}" alt="Bookcover">
					<div class="card-body">
						<p class="card-text"><h5>{{ book.title }}</h5></p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a href="/book/{{ book.bookid }}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
								
								<!-- Triggers a dialog box/popup window to show book's description -->
								<button type="button" class="btn btn-sm btn-outline-secondary" data-title="{{ book.title }}" data-desc="{{ book.description }}" 
								data-toggle="modal" data-target="#book-modal">Description</button>

								<!-- JQuery is used to populate the contents of a popup -->
								<div class="modal fade" id="book-modal" tabindex="-1" role="dialog" aria-labelledby="book-modal" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<!-- Header contains book's title -->
											<h4><div class="modal-header">
											</div></h4>
											<!-- Body contains book's description -->
											<div class="modal-body">
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							<small class="text-muted">Views: {{ book.pageViews }}</small>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	{% else %}
		No books have been added yet, please search for books to populate this list.
	{% endif %}
{% endblock %}
