{% extends "bookworm/base.html" %}
{% load staticfiles %}
{% block title_block %}
	Book page
{% endblock %}

{% block body_block %}
<div class="row">
	<div class="col-4">
		<img style="float: left; width:100%" src="{{ book_data.thumbnail }}">
	</div>
	<div class="col-8">
		<h2>{{ book_data.title }} by {{ book_data.authors }}</h2><br>
		<font size="4">
		<p><b>Author(s)</b>: {{ book_data.authors }}</p>
		<p><b>Description</b>: {{ book_data.description }}</p>
		<p><b>Pages</b>: {{ book_data.pageCount }}</p>
		<p><b>ISBN:</b> {{ book_data.isbn }}</p>
		<p><b>Publisher:</b> {{ book_data.publisher }}</p>
		<p><b>Date Published</b>: {{ book_data.publishedDate }}</p>
		{% if book_data.averageRating == 0 %}
			<strong>This book has yet to be rated.</strong>
		{% else %}
			<p><b>Average Rating</b>:
			<!-- a hack for numerical loops
			https://stackoverflow.com/questions/1107737/numeric-for-loop-in-django-templates -->
			{% for i in "xxxxx" %}
				{% if forloop.counter0 < book_data.averageRating %}
					<img style="margin-left:5px; width:35px;height:35px" src="{% static 'images/star.png' %}">
				{% else %}
					<img style="margin-left:5px; width:35px;height:35px" src="{% static 'images/nostar.png' %}">
				{% endif %}
			{% endfor %}
		{% endif %}
		</p>
		{% if user.is_authenticated %}
			<a href="review/" class="btn btn-secondary">Write a review</a>
			<br/><br/>
			<form role="form"  method="post">
				{% csrf_token %}
				<label>Add this book to your list!</label>
				<br/>
				<select class="form-control-static.input-lg" id="status" name="status">
					<option value="0">I'm reading this!</option>
					<option value="1">I've read this!</option>
					<option value="2">I want to read it!</option>
					<option value="3">I dropped this...</option>
				</select>
			<button class="btn btn-secondary" type="submit">Add book</button>
			<br/>
			</form>
		{% endif %}
		</font>
	</div>
</div>
{% if reviews %}
	<h2><b>Reviews:</b></h2>
	<div class="row">
	{% for review in reviews %}
		<div class="col-4">
			<a href="/profile/{{ review.user.username }}">
			{% if review.user.userprofile.picture %}
				<img style="float: left; width:100px;height:100px" src="{{ MEDIA_URL }}{{ review.user.userprofile.picture }}">
			{% else %}
				<img style="float: left; width:100px;height:100px" src="{% static 'images/default_avatar.png' %}">
			{% endif %}
			<font size="6" style="margin-left:5px;"><b>{{ review.user.username }}</b></font>
			<br>
			</a>
			<span>
			<!-- a hack for numerical loops
			https://stackoverflow.com/questions/1107737/numeric-for-loop-in-django-templates -->
			{% for i in "xxxxx" %}
				{% if forloop.counter0 < review.rating %}
					<img style="margin-left:5px; width:35px;height:35px" src="{% static 'images/star.png' %}">
				{% else %}
					<img style="margin-left:5px; width:35px;height:35px" src="{% static 'images/nostar.png' %}">
				{% endif %}
			{% endfor %}
			</span>
			<p><font size="3" style="margin-left:8px;"><b>Reviewed: </b></font><font size="2">{{ review.timestamp }}</font></p>
			<font size="3">{{ review.text }}</font>
		</div>
	{% endfor %}
	</div>
{% endif %}
{% endblock %}