{% extends "bookworm/base.html" %}

{% block title_block %}
	Book page
{% endblock %}

{% block body_block %}
<div class="row">
	<div class="col-4">
		<img style="float: left; width:100%" src="{{ book_data.thumbnail }}">
		<center><p><font size="4"><b>Average Rating:</b> {{ book_data.averageRating }}</font> </p></center>
	</div>
	<div class="col-8">
		<h2>{{ book_data.title }} by {{ book_data.authors }}</h2><br>
		<font size="4">
		<p><b>Author(s)</b>: {{ book_data.authors }}</p>
		<p><b>Description</b>: {{ book_data.description }}</p>
		<p><b>Pages</b>: {{ book_data.pageCount }}</p>
		<p><b>ISBN:</b> {{ book_data.isbn }}</p>
		<p><b>Publisher:</b> {{ book_data.publisher }}</p>
		<p><b>Date Published</b>: {{ book_data.publishedDate }}</p>
		{% if user.is_authenticated %}
			<a href="review/" class="btn btn-secondary">Write a review</a>
		{% endif %}
		</font>
	</div>
</div>
{% if reviews %}
	<div class="row">
	{% for review in reviews %}
		<div class="col-4">
			<img style="float: left; width:100px; height:100px" src="../../media/{{ review.user.userprofile.picture }}">
			<h2><b>{{ review.user.username }}</h2></b> {{ review.text }}
		</div>
	{% endfor %}
	</div>
{% endif %}
{% endblock %}