{% extends 'bookworm/base.html' %}
{% load staticfiles %}
{% block title_block %}
	Home
{% endblock %}

{% block body_block %}
{% if highest_rated %}
	<h1>Highest Rated:</h1>
	<div class="row">   
		<div id="carouselBooks1" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">         
				<div class="item active">
				{% for book in highest_rated %}
					<div class="col-sm-3">
						<a href="/book/{{ book.bookid }}"><img src="{{ book.thumbnail }}"/></a>
						<center><h4><b><a href="/book/{{ book.bookid }}">{{ book.title }}</a></b></h4></center>
					</div>
				   {% if forloop.counter|divisibleby:4 and not forloop.last %}
				   </div>
				   <div class="item">
				   {% endif %}
				{% endfor %}
				</div>  
			</div>
			<a class="carousel-control-prev" href="#carouselBooks1" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselBooks1" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
{% else %}
	<h2>There are currently books in the database</h2>
{% endif %}

{% if most_viewed %}
	<h1>Most Viewed:</h1>
	<div class="row">   
		<div id="carouselBooks2" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">         
				<div class="item active">
				{% for book in most_viewed %}
					<div class="col-sm-3">
						<a href="/book/{{ book.bookid }}"><img src="{{ book.thumbnail }}"/></a>
						<center><h4><b><a href="/book/{{ book.bookid }}">{{ book.title }}</a></b></h4></center>
					</div>
				   {% if forloop.counter|divisibleby:4 and not forloop.last %}
				   </div>
				   <div class="item">
				   {% endif %}
				{% endfor %}
				</div>  
			</div>
			<a class="carousel-control-prev" href="#carouselBooks2" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselBooks2" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
{% else %}
	<h2>There are currently books in the database</h2>
{% endif %}

{% if recent_reviewed %}
	<h1>Latest reviews:</h1>
	<div class="row">   
		<div id="carouselBooks3" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">         
				<div class="item active">
				{% for review in recent_reviewed %}
					<div class="col-sm-6">
						<div class="col-sm-6">
						<a href="/book/{{ review.book.bookid }}"><img src="{{ review.book.thumbnail }}"/></a>
						</div>
						<div class="col-sm-6">
						<center>
						<font size="5"><b>{{ review.book.title }}</b></font>
						</center>
						{% if review.user.userprofile.picture %}
							<img style="float: left; width:65px;height:65px" src="{{ MEDIA_URL }}{{ review.user.userprofile.picture }}">
						{% else %}
							<img style="float: left; width:65px;height:65px" src="{% static 'images/default_avatar.png' %}">
						{% endif %}
						<a href="/profile/{{ review.user.username }}">
						<font size="5" style="margin-left:5px;">{{ review.user }}</font>
						</a>
						<br>
						<!-- a hack for numerical loops
						https://stackoverflow.com/questions/1107737/numeric-for-loop-in-django-templates -->
						{% for i in "xxxxx" %}
							{% if forloop.counter0 < review.rating %}
								{% if forloop.first %}
								<img style="margin-left:5px; float: left; width:30px;height:30px" src="{% static 'images/star.png' %}">
								{% else %}
								<img style="float: left; width:30px;height:30px" src="{% static 'images/star.png' %}">
								{% endif %}
							{% endif %}
						{% endfor %}
						<br><br>
						<h4>{{ review.text|slice:":300" }}...</h4>
						</div>
					</div>
				   {% if forloop.counter|divisibleby:2 and not forloop.last %}
				   </div>
				   <div class="item">
				   {% endif %}
				{% endfor %}
				</div>  
			</div>
			<a class="carousel-control-prev" href="#carouselBooks3" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselBooks3" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
{% else %}
	<h2>There are currently no reviews</h2>
{% endif %}

{% endblock %}
