{% extends "bookworm/base.html" %}
{% load staticfiles %}
{% block title_block %}
	Profile
{% endblock %}

{% block body_block %}
<h1>{{selecteduser.username}}'s Profile</h1>
<div class="row">
	{% if userprofile.picture %}
		<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
			width="300"
			height="300"
			alt="{{ selecteduser.username}}" />
	{% else %}
		<div class="col-4">
			<img src="{% static 'images/default_avatar.png' %}"> 
		</div>
	{% endif %}
	<div class="col">
		<p><strong>Bio:</strong> <a "{{ userprofile.bio}}">
			{{userprofile.bio}}</a></p>
	</div>
	<div id="edit_profile"></div>
</div>
{% endblock %}