{% extends "bookworm/base.html" %}
{% load staticfiles %}
{% block title_block %}
	Profile
{% endblock %}

{% block body_block %}
{% if selecteduser.username == user.username %}
	<!-- Display's their current profile picture. -->
	<h1>{{ selecteduser.username }}'s Profile</h1>
	<div class="row">
		{% if userprofile.picture %}
			<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
				width="300"
				height="300"
				alt="{{ selecteduser.username}}" />
		{% else %}
			<div class="col-4">
				<img src="{% static 'images/default_avatar.png' %}"> 
			</div>
		{% endif %}
		<font size="4">
		<div class="col">
			<!-- Form to allow user to set their profile picture, bio and favourite book. -->
			<form method="post" action="." enctype="multipart/form-data">
				{% csrf_token %}
				<h3><label for="Bio">Bio:</label></h3>
				<textarea class="form-control form" rows="6" id="Bio" name="text" type="text"></textarea>
				<label style="margin-top:10px" for="favouriteBook">Favourite Book:</label>
				<select class="form-control-static.input-lg" id="favouriteBook" name="favouriteBook" style="margin-top:10px">
				{% for readingBook in readingList %}
						<option value="{{ readingBook.book.bookid }}">{{ readingBook.book.title }}</option>
				{% endfor %}
				</select>
				 <input type="file" class="" name="picture" style="margin-top:10px">
				<input style="margin-top:15px" type="submit" value="Update" />
			</form>
		</div>
		<div id="edit_profile"></div>
		</font>
	</div>
{% else %}
	<p>You can not edit someone else's profile</p>
{% endif %}
{% endblock %}