{% extends "bookworm/base.html" %}
{% load staticfiles %}
{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
<div>
	<h1>Bookworm search</h1>
	<br/>
	<form class="form-inline" id="user_form" 
		method="post" action="{% url 'search' %}">
	{% csrf_token %}
	<div class="input-group">
		<input class="form-control" type="text" size="50" 
			name="query" placeholder="Enter a book's title" value="" id="query" />
	</div>
	<!-- No breaking space -->
	&nbsp;
	<button class="btn btn-primary" type="submit" name="submit"
		 value="Search">Search</button>
	</form>	
	<div>
	{% if result_list %}
	<h3>Results</h3>
	<!-- Display search results in an ordered list -->
		<div class="list-group">
		{% for result in result_list %}
			<div class="list-group-item">
			<h4 class="list-group-item-heading">
			<a href="/book/{{ result.bookid }}">{{ result.title }}</a>
			</h4> 
			<p class="list-group-item-text"><img src="{{ result.smallThumbnail }}">
			<!-- br tag in order to separate thumbnail from description -->
			<br>{{ result.description }}</p>
			</div>
		{% endfor %}
		</div>
	{% endif %}
	</div>
</div>	
{% endblock %}
