body {
  padding-bottom: 20px;
  background-color: #eee;
}

.navbar {
  margin-bottom: 20px;
}

.navbaricon{
  margin-top:-6px;
  margin-left:-25px;
  margin-right:20px;
  width:32px;
  height:32px;
}

.navbarmargin{
  margin-left: -65px;
  margin-right: 85px;
}

.navbartext{
  color: #ffffff;
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.welcome {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #343a40;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

.imagetext{
  margin-top:10px;
  display:inline-block;
  font-size:medium;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}